/* Common CSS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 15% 85%;
}
.header_nav {
    width: 100%;
    height: 100vh;
    background: #455a64;
    position: sticky;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header_nav p {
    margin: 0 auto;

}
.header_nav p a {
    color: black;
    font-size: 100%;
    text-decoration: overline;
    text-transform: uppercase;
}
.header_nav p a:hover {
    color: white;
}
.footer_nav {
    position: fixed;
    top: 40%;
    right: 2%;
    border: 5px solid #455a64;
    background: #455a64;
    border-radius: 30px;
}
.footer_nav ul {
    padding: 2px;
}
.footer_nav ul li {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
    text-align: center;
}
.footer_nav ul li a {
    color: black;
}
.footer_nav ul li a:hover {
    color: white;
}

/* About Me CSS */
main {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-evenly;
    background: whitesmoke;
}
img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #546e7a;
}
h1 {
    font-size: 50px;
    font-weight: bold;
    color: black;
}
h2 {
    font-size: 40px;
    color: #546e7a;
}
p {
    font-size: 17px;
    margin-left: 40px;
    margin-right: 40px;
}
.social_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fa-github, .fa-linkedin {
    color: #546e7a;
    font-size: 40px;
    text-decoration: none;
}


/* Tablet */
@media screen and (max-width: 850px) {
    img {
        width: 220px;
        height: 220px;
    }
    h1 {
        font-size: 35px;
        padding-left: 40px;
        padding-right: 40px;
    }
    h2 {
        font-size: 28px;
        padding-left: 40px;
        padding-right: 40px;
    }
    p {
        font-size: 14px;
    }
    .footer_nav ul li {
        font-size: 19px;
    }
    .fa-github, .fa-linkedin {
        font-size: 30px;
    }
}

/* Mobile */
@media screen and (max-width: 550px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .header_nav {
        width: 100%;
        height: 50px;
        flex-direction: row;
        align-items: center;
    }
    .header_nav p a {
        font-size: 90%;
    }
    img {
        width: 190px;
        height: 190px;
    }
    h1 {
        font-size: 25px;
        margin-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    h2 {
        font-size: 20px;
        margin-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
    p {
        font-size: 13px;
        margin-top: 20px;
    }
    .footer_nav ul li {
        font-size: 13px;
    }
    .fa-github, .fa-linkedin {
        font-size: 20px;
    }
}